.background-header {
    background-color: #4a6ea7a4;
}

.heading-title {
    font-family: 'Goudy Bookletter 1911';
}

.heading-lead {
    font-family: 'Roboto';
    font-size: 20px;
}

.rules-text {
    font-family: "Roboto";
    font-size: 20px;
}

.choose-who-text {
    font-family: 'Roboto', cursive;
    font-size: 25px;
}

.choose-quiz {
    font-family: 'Roboto';
    font-size: 15px;
}

.question-text {
    font-family: "Goudy Bookletter 1911";
    font-size: 20px;
    display: inline-block;
}

.question-choices {
    font-family: "Goudy Bookletter 1911";
    font-size: 15px;
}


.display-none {
    display: none;
}

.timer-text {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
}


/* .display {
    display: block;
} */
